@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

@font-face {
  font-family: Void; /* Имя шрифта */
  src: url(17320.otf); /* Путь к файлу со шрифтом */
 }
html{
  height: 100%;
}
body {
  font-family: Void;
  background-color: #020a16;
  background-image: url(./img/space2.png);
  height: 100%;
}
.asteroidContainer {
  width: 100%;
  height: 100%;
}

.asteroidContainer__earth {
  position: absolute;
  top: 300px;
  left: 400px;
  width: 40px;
  z-index: 90000;
  transform: translate(-50%, -50%);

}
.asteroidContainer__asteroid {
  position: fixed;
  top: -30px;
  left: -30px;
  width: 30px;
}

.asteroidContainer__moonContainer {

  position: fixed;

  z-index: 90000;
  top: 300px;
  left: 210px;
  width: 440px;

}
.asteroidContainer__moon { 
  width: 20px;
  transform: translate(-50%, -50%);

}
.asteroidContainer__track {
  position: fixed;
  width: 0px;
  height: 0px;
  border: 1px solid rgba(54, 92, 94, 0.7);
  border-radius: 100%;
}
.asteroidContainer__asteroid{
  width: 10px;
  height: 10px;
  z-index: 999999;
}
.asteroidContainer__moonTrack {
  position: fixed;
  left: 211px;
  top: 102px;
  width: 417px;
  height: 417px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}




.solarSystem {
  width: 100%;
  height: 100%;
}

.solarSystem__sun {
  position: fixed;
  top: 290px;
  left: 403px;
  width: 40px;
  z-index: 90000;
}
.solarSystem__asteroid {
  position: fixed;
  top: -30px;
  left: -30px;
  width: 30px;
}
.solarSystem__mercuryContainer {
  position: fixed;

  z-index: 90000;
  top: 300px;
  left: 340px;
  width: 160px;
}
.solarSystem__mercury { 
  width: 16px;
}


.solarSystem__veneraContainer {
  position: fixed;

  z-index: 90000;
  top: 300px;
  left: 300px;
  width: 240px;
}
.solarSystem__venera { 
  width: 18px;
}

.solarSystem__earthContainer {
  position: fixed;

  z-index: 90000;
  top: 300px;
  left: 230px;
  width: 370px;
}
.solarSystem__earth { 
  width: 20px;
}
.solarSystem__marsContainer {
  position: fixed;

  z-index: 90000;
  top: 300px;
  left: 170px;
  width: 490px;
}
.solarSystem__mars { 
  width: 18px;
}

.solarSystem__jupiterContainer {
  position: fixed;

  z-index: 90000;
  top: 285px;
  left: 90px;
  width: 640px;
}
.solarSystem__jupiter { 
  width: 40px;
}

.solarSystem__saturnContainer {
  position: fixed;

  z-index: 90000;
  top: 275px;
  left: -17px;
  width: 860px;
}
.solarSystem__saturn { 
  width: 60px;
}
.solarSystem__uranusContainer {
  position: fixed;

  z-index: 90000;
  top: 280px;
  left: -115px;
  width: 1050px;
}
.solarSystem__uranus { 
  width: 50px;
}
.solarSystem__neptunContainer {
  position: fixed;

  z-index: 90000;
  top: 275px;
  left: -170px;
  width: 1150px;
}
.solarSystem__neptun { 
  width: 30px;
}

.constructorOfStarSystem__star {
  position: fixed;
  width: 15px;
  transform: translate(-50%, -50%);
}
.constructorOfStarSystem__map {
  height: 100%;
  position: fixed;
  right: 300px;
}
.constructorOfStarSystem__changer {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 300px;
  background: rgba(39, 23, 63, 0.7);
  transition: right 0.3s cubic-bezier(0, 0, 0.3, 1);
}
.constructorOfStarSystem__img{
  width: 80px;
  transition: width 0.3s cubic-bezier(0, 0, 1, 1);
}
.HidedMenu {
  right: -260px;
  transition: right 0.5s cubic-bezier(0, 0, 0.2, 1);
}
.HidedMenu>.constructorOfStarSystem__changerItem{
  height: 40px;
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
}
.HidedMenu>.constructorOfStarSystem__changerItemSelected{
  height: 40px;
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
}
.HidedMenu>.constructorOfStarSystem__changerItem>img{
  width: 40px;
  transition: width 0.5s cubic-bezier(0, 0, 1, 1);
}
.HidedMenu>.constructorOfStarSystem__changerItemSelected>img{
  width: 40px;
  transition: width 0.5s cubic-bezier(0, 0, 1, 1);
}
.constructorOfStarSystem__changerItem {
  height: 80px;
  width: 260px;
  color: rgb(233, 198, 198);
  background: rgba(39, 23, 63, 0.7);
  display: grid;
  vertical-align: center;
  grid-template-columns: auto 80px;
  border-radius: 0, 0, 100%, 100%;
  transition: height 0.3s cubic-bezier(0, 0, 1, 1);
}
.constructorOfStarSystem__changerItemSelected {
  height: 80px;
  width: 260px;
  color: rgb(233, 198, 198);
  background: rgba(120, 104, 145, 0.7);
  display: grid;
  vertical-align: center;
  grid-template-columns: auto 80px;
  border-radius: 0 130px 130px 0;
  transition: height 0.5s cubic-bezier(0, 0, 1, 1);
}
.constructorOfStarSystem__changerItemText{
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.constructorOfStarSystem__menuButton {
  position: fixed;
  right: 2px;
  bottom: 2px;
  border-radius: 100%;
  background-color: rgba(97, 139, 163, 0.7);
}
.constructorOfStarSystem__menuButton:hover {
  background-color: rgba(57, 144, 194, 0.7);
}
.spaceObject:hover {
  width: 90px;
  position: absolute;
  z-index: 999999999999;
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; right: 0; bottom: 5px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-size: 24px; /* Размер текста подсказки */
  padding: 20px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */
}
.solarSystem__moon { 
  width: 20px;
}
.solarSystem__track {
  position: fixed;
  width: 0px;
  height: 0px;
  border: 1px solid rgba(54, 92, 94, 0.7);
  border-radius: 100%;
}
.solarSystem__asteroid{
  width: 10px;
  height: 10px;
  z-index: 999999;
}




.solarSystem__veneraTrack {
  position: fixed;
  left: 309px;
  top: 200px;
  width: 219px;
  height: 219px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}
.solarSystem__mercuryTrack {
  position: fixed;
  left: 349px;
  top: 240px;
  width: 140px;
  height: 140px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}
.solarSystem__earthTrack {
  position: fixed;
  left: 240px;
  top: 135px;
  width: 350px;
  height: 350px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}
.solarSystem__marsTrack {
  position: fixed;
  left: 180px;
  top: 75px;
  width: 470px;
  height: 470px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}

.solarSystem__jupiterTrack {
  position: fixed;
  left: 110px;
  top: 8px;
  width: 600px;
  height: 600px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}
.solarSystem__saturnTrack {
  position: fixed;
  left: 10px;
  top: -100px;
  width: 800px;
  height: 800px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}
.solarSystem__uranusTrack {
  position: fixed;
  left: -90px;
  top: -200px;
  width: 1000px;
  height: 1000px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}
.solarSystem__neptunTrack {
  position: fixed;
  left: -140px;
  top: -250px;
  width: 1100px;
  height: 1100px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}


.solarSystem__moonTrack {
  position: fixed;
  left: 211px;
  top: 102px;
  width: 417px;
  height: 417px;
  border: 2px solid rgba(65, 56, 109, 0.95);
  border-radius: 100%;
}

.moonPanoram__imgContainer {
  position: fixed;
  top:10px;
	overflow:hidden;
}
.moonPanoram__img {
  position: absolute;
}
.moonPanoram__pc {
  position: fixed;
  top:10px;
  z-index: 99;
}
.moonPanoram__buttonContainer{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.moonPanoram__button{
    border: 30px solid transparent; border-left: 40px solid rgb(61, 52, 110);
    margin: 10px;
    display: inline-block;
}

.spaceMusic__audioContainer {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(97, 139, 163, 0.4);
  border-radius: 100% 100% 25% 25%;
  box-shadow: 0 0 10px rgba(180, 88, 88, 0.7);
  top: 50%;
  left: calc(50%);
  transform: translate(-50%, -50%);
}
.spaceMusic__audio{
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
}

.spaceMusic__audioNoDisplay{
  display: none;
}
.spaceMusic__audioLabel {
  position: absolute;
  bottom: 5px;
  margin: 0px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  border: 1px solid;
  border-radius: 15% 15% 25px 25px;
  width: 100%;
  background-color: rgba(211, 207, 194, 0.652);
}

.curiosity__map {
  position: fixed;
  z-index: 0;
  transform: translate(-50%, -50%)
}

.curiosity__track {
  position: fixed;
  z-index: 0;
  transform: translate(-50%, -50%)
}
.curiosity__joystickContainer{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(235, 168, 168, 0.747);
  border: 1px solid rgba(231, 205, 205, 0.7);
  box-shadow: 0 0 30px rgba(231, 205, 205, 0.828) inset;
  border-radius: 100%;
}
.curiosity__joystick{
  position: relative;
  left: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(136, 99, 99, 0.548);
  box-shadow: 0 0 30px rgba(172, 126, 126, 0.733) inset;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.earthSystem__orbit {
  position: fixed;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(54, 92, 94, 0.7);
  border-radius: 100%;
}


















.exit {
  width: 60px;
  position: relative;
  z-index: 999999;
}











.start {
  position: relative;
  font-family: Void;
  font-size: 110%;
  letter-spacing: 0.1em;
  margin-top: 40px;
  padding-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: rgba(102, 95, 95, 0.7);
  padding-right: 60px;
}
.start_item{
  display: grid;

}
.start__IMGItem {
  position: absolute;
  width: 40px;
  transform: rotate(90deg);
  outline: 2px;
  right: 30px;
}

.nav-link {
  font-size: 120%;
  text-align: right;
  color: rgba(231, 205, 205, 0.6);
}
.nav-link:hover {
  font-size: 160%;
  text-align: right;
  color: rgba(231, 205, 205, 0.7);
}
.nav-item {
  font-size: 115%;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  padding: 20px;
  height: 90px;
}


.footer__link {
  display: inline-block;
  width: auto;
  margin-left: 30px;
  border: 1px solid rgb(15, 70, 52);
  border-radius: 6px;
  padding: 8px;
}

.footer__about {
  display: inline-block;
  width: auto;
  margin-left: 30px;
  padding: 8px;

  color: rgb(4, 82, 57);
}

.footer__author {
  display: inline-block;
  width: auto;
  color: rgb(26, 63, 51);
  margin-left: 30px;
  border-radius: 6px;
  padding: 8px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #8df59b;
  color: #fff;
  width: 100%;
  padding-top: 13px;
}

.alt__footer {
  margin-top: 150px;
  height: 150px;
}

@media screen and (max-width: 600px) {
  .footer {
    position: fixed;
    height: 50px;
    left: -10;
    bottom: 0;
    background: #8df59b;
    color: #fff;
    width: 100%;
    font-size: 70%;

    float: left;
  }

  .footer__link {
    display: block;
    float: right;
    border: 1px solid rgb(15, 70, 52);
    border-radius: 6px;
  }

  .footer__about {
    display: block;
    float: left;
    margin: -6px;
    color: rgb(4, 82, 57);
  }

}